# Android
/android/.DS_Store
/android/build/
/android/app/build/
/android/gradle/
/android/local.properties
/android/.gradle/
/android/.idea/
/android/*.iml
/android/.settings/
/android/captures/

# Backend
/backend/arguments-backend/target/
/backend/arguments-backend/.mvn/
/backend/arguments-backend/mvnw
/backend/arguments-backend/mvnw.cmd
/backend/arguments-backend/HELP.md
/backend/arguments-backend/.env
/backend/arguments-backend/logs/
/backend/arguments-backend/.DS_Store
/backend/arguments-backend/.classpath
/backend/arguments-backend/.project
/backend/arguments-backend/.settings/
/backend/arguments-backend/*.iml
/backend/arguments-backend/.idea/

# General
/.DS_Store
/.$*